<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <button class="btn btn-primary nBtn">New</button>
    <table class="table table-hover">
        <thead class="bg-dark text-white">
        <tr>
            <th>Название</th>
            <th>Кол-во мест купе</th>
            <th>Кол-во мест плацкарт</th>
            <th>Кол-во мест общих</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="train : ${trains}">
            <td th:text="${train.name}"></td>
            <td th:text="${train.countCoupe}"></td>
            <td th:text="${train.countLying}"></td>
            <td th:text="${train.countCommon}"></td>
            <td>
                <a class="btn btn-primary text-white eBtn"
                   th:href="@{http://localhost:8081/trains/list(id=${train.id})}">Edit</a>
                <a class="btn btn-danger text-white rBtn" th:href="${'trainStations/delete?id='+train.id}">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Edit n New-->
<div class="myForm">
    <form th:action="@{/save}" method="post" th:object="${train}">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
             id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Save or Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-md-6">
                            <label for="id" class="label">id</label>
                            <input type="text" class="form-control" id="id" name="id" value="" th:field="*{id}" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <lable for="name" class="col-form-label">Название</lable>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Название">
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label">Кол-во мест купе</lable>
                            <input type="text" th:field="*{countCoupe}" class="form-control" id="countCoupe" placeholder="Купе">
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label">Кол-во мест плацкарт</lable>
                            <input type="text" th:field="*{countLying}" class="form-control" id="countLying" placeholder="Плацкарт">
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label">Кол-во мест общих</lable>
                            <input type="text" th:field="*{countCommon}" class="form-control" id="countCommon" placeholder="Общее">
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="update"/>
                        </div>

                        <div class="form-group col-md-8"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Edit n Remove-->
<div class="myRemove">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save or Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert-danger text-dark p-2">Are you sure?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger dBtn" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/resources/js/script.js"></script>

</body>
</html>