<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .train-create-form #carriage-table ul {
            margin-left: 0; /* Отступ слева в браузере IE и Opera */
            padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
            list-style-type: none;
        }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
</head>
<body class="bg-light">


<div th:replace="fragments/header :: header">
</div>

<div class="container bg-white mt-5 py-2">
    <button class="btn btn-outline-primary nBtn my-3" th:text="#{button.new.train}">Создать поезд</button>
    <a class="ml-3" id="reloadBtn" href="/trains"><i class="fas fa-redo-alt"></i></a>

    <table id="trains-table" class="table table-striped customDataTable">
        <thead>
        <tr>
            <th th:text="#{label.train.name}">Name</th>
            <th th:text="#{label.train.actions}">Действия</th>
            <th th:text="#{label.train.add-info}">Доп. информация</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="train : ${trains}">
            <!--<td th:text="${train.id}"></td>-->
            <td th:text="${train.name}"></td>
            <!--<td th:text="${train.countCoupe}"></td>
            <td th:text="${train.countLying}"></td>
            <td th:text="${train.countCommon}"></td>-->
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-primary eBtn" id="eBtn"
                       th:href="${'trains/list/' + train.id}" th:text="#{button.edit}">Edit</a>
                    <a class="btn btn-outline-danger rBtn" th:href="${'trains/list/'+train.id}"
                       th:text="#{button.remove}">Remove</a>
                </div>
            </td>
            <td>
                <div class="btn-group-vertical" role="group">
                    <a class="btn btn-outline-info" th:href="@{trains/list/} + ${train.id} + @{/route-pieces}"
                       th:text="#{label.train.stations}">Train stop stations</a>
                    <a class="btn btn-outline-info" th:href="@{trains/list/} + ${train.id} + @{/dates}"
                       th:text="#{label.train.dates}">Dates</a>
                    <a class="btn btn-outline-info getCarriagesBtn"
                       th:href="@{trains/list/} + ${train.id} + @{/carriages/list}"
                       th:text="#{label.train.carriages}">Вагоны</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Edit n New-->
<div class="train-edit-form">
    <form th:action="${'trains/list/'}" th:object="${train}" id="form">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
             data-backdrop="static" data-keyboard="false"
             id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{header.train.edit}">
                            Редактирование</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="x-btn" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="errors">
                        </div>
                        <input type="text" hidden id="id">
                        <div class="form-group col-md-6">
                            <lable for="name" class="col-form-label" th:text="#{label.train.name}">Name</lable>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Название">
                        </div>

                        <div class="form-group col-md-8"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="close-btn" data-dismiss="modal"
                                th:text="#{button.close}">Закрыть
                        </button>
                        <button type="submit" class="btn btn-outline-primary" id="edit-submit" th:text="#{button.save}">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="train-carriages">
    <form th:action="${'trains/list/'}" th:object="${train}" id="train-carriages-form">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
             data-backdrop="static" data-keyboard="false"
             id="train-carriages">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{label.train.carriages}">Вагоны поезда</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="x-btn" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card card-body" id="carriage-card">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" id="close-btn" data-dismiss="modal"
                                th:text="#{button.close}">Закрыть
                        </button>
                        <button type="submit" class="btn btn-outline-primary" id="edit-submit" th:text="#{button.save}">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="train-create-form">
    <form id="train-create-form">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
             id="trainModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" id="modal-content" style="min-width: 900px">
                    <div class="modal-header" id="modal-header">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active nav-item">
                                <a href="#train" class="nav-link" aria-controls="product" role="tab"
                                   data-toggle="tab">Поезд</a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#carriage" class="nav-link" aria-controls="order" role="tab" data-toggle="tab"
                                   th:text="#{label.train.carriages}">Вагоны</a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#route" class="nav-link" aria-controls="order" role="tab" data-toggle="tab"
                                   th:text="#{label.train.route}">Маршрут</a>
                            </li>
                        </ul>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="x-btn" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div id="errors" class="alert alert-danger" style="display: none; color: #a94442;">
                        </div>
                        <div>
                            <!-- Nav tabs -->
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane fade in active" id="train">
                                    <div class="card card-body" id="train-card">
                                        <div class="form-group col-md-6">
                                            <lable for="name" class="col-form-label" th:text="#{label.train.name}">Name
                                            </lable>
                                            <input type="text" class="form-control" required id="name" name="name">
                                        </div>

                                        <div class="form-group col-md-8"></div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="route">

                                    <div class="card card-body">

                                        <table class="table" id="stations-table">
                                            <tr class="table-head">
                                                <th th:text="#{label.number}">Номер</th>
                                                <th th:text="#{trainRoute.depStation}">Станция отправления</th>
                                                <th th:text="#{trainRoute.arrStation}">Станция прибытия</th>
                                                <th th:text="#{trainRoute.distance}">Дистанция</th>
                                            </tr>
                                            <tr>
                                                <td class="serialNumber">1</td>
                                                <td class="startStation">
                                                    <select id="startStation" class="form-control mb-2 mr-sm-2"
                                                            required>
                                                    </select>
                                                </td>
                                                <td class="endStation">
                                                    <select id="endStation" class="form-control mb-2 mr-sm-2"
                                                            required>
                                                    </select>
                                                </td>

                                                <td class="distance">
                                                    <input type="number" min="1" required
                                                           class="form-control mb-2 mr-sm-2"
                                                           id="distance" name="distance">
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                    <button type="submit" class="btn btn-outline-secondary mt-2" id="add-station-btn" th:text="#{button.add.station}">
                                        Добавить
                                        станцию
                                    </button>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="carriage">
                                    <div class="card card-body">

                                        <table class="table" id="carriage-table">
                                            <tr class="table-head">
                                                <th th:text="#{carriage.type}">Тип вагона</th>
                                                <th th:text="#{label.amount}">Количество</th>
                                                <th th:text="#{place.type}">Тип места</th>
                                                <th colspan="2" th:text="#{place.amount}">Кол-во мест (промежуток)</th>
                                                <th th:text="#{place.parity}">Четность добавляемых мест</th>
                                                <th th:text="#{button.add.places}">Добавить места</th>
                                            </tr>
                                            <tr>
                                                <td class="carriageType">
                                                    <select style="width: 90px" class="form-control mb-2 mr-sm-2">
                                                        <option value="Купе" th:text="#{carriage.type.coupe}">Купе</option>
                                                        <option value="Плацкарт" th:text="#{carriage.type.reclining}">Плацкарт</option>
                                                        <option value="Общий" th:text="#{carriage.type.common}">Общий</option>
                                                    </select>
                                                </td>
                                                <td class="carriageAmount">
                                                    <input type="number" required min="0" style="width: 70px"
                                                           class="form-control mb-2 mr-sm-2" name="carriageAmount">
                                                </td>
                                                <td>
                                                    <ul class="placeType">
                                                        <li>
                                                            <select style="width: 100px"
                                                                    class="form-control mb-2 mr-sm-2">
                                                                <option th:text="#{place.type.upper}" value="Верхнее">Верхнее</option>
                                                                <option th:text="#{place.type.under}" value="Нижнее">Нижнее</option>
                                                                <option th:text="#{place.type.seat}" value="Сидячее">Сидячее</option>
                                                                <option th:text="#{place.type.coupe}" value="Купе">Купе</option>
                                                            </select>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="amountLeftBorder">
                                                        <li>
                                                            <input type="number" required min="0" style="width: 70px"
                                                                   class="form-control mb-2 mr-sm-2"
                                                                   name="amountLeftBorder">
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="amountRightBorder">
                                                        <li>
                                                            <input type="number" required min="0" style="width: 70px"
                                                                   class="form-control mb-2 mr-sm-2"
                                                                   name="amountRightBorder">
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <ul class="placesParity">
                                                        <li>
                                                            <select class="form-control mb-2 mr-sm-2">
                                                                <option value="Все">Все</option>
                                                                <option value="Четные">Четные</option>
                                                                <option value="Нечетные">Нечетные</option>
                                                            </select>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <a href="#" name="add-place" class="fas fa-plus"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <button type="submit" class="btn btn-outline-secondary mt-2" id="add-carriage-btn" th:text="#{button.add.carriage}">
                                        Добавить
                                        вагон
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" th:text="#{button.close}">Закрыть</button>
                        <button type="submit" class="btn btn-outline-primary" id="train-create-submit" th:text="#{button.save}">Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Edit n Remove-->
<div class="myRemove">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false"
         id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{button.remove}">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert-danger text-dark p-2">
                        <span th:text="#{text.sure}">Are you sure?</span>
                        <span id="delete-message"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                            th:text="#{button.close}">
                        Close
                    </button>
                    <a class="btn btn-outline-danger dBtn" href="" id="delete-submit"
                       th:text="#{button.remove}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script th:src="@{/resources/js/locale.js}"></script>
<script th:src="@{/resources/js/customDataTable.js}"></script>
<script src="../../../resources/js/trains-ajax-conv.js" th:src="@{/resources/js/trains-ajax-conv.js}"></script>

</body>
</html>