<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>

</head>
<body>

<script>

    $(document).ready(function () {

        $('#route-table .a-radio ').click(function (event) {
            event.preventDefault();
            let selectedTrHtml = $(this).parent();

            let ticket = {
                train: {
                    id: selectedTrHtml.siblings('#trainId').text()
                },
                depTime: selectedTrHtml.siblings('#depTime').text().replace("@", " "),
                arrTime: selectedTrHtml.siblings('#arrTime').text().replace("@", " "),
                depStation: {
                    id: $('.container #dep_station_id').text()
                },
                arrStation: {
                    id: $('.container #arr_station_id').text()
                }
            };
            let orderDTO = {
                trainDateId: selectedTrHtml.siblings("#trainDateId").text(),
                startRoutePieceId: selectedTrHtml.siblings("#startRoutePieceId").text(),
                endRoutePieceId: selectedTrHtml.siblings("#endRoutePieceId").text(),
                startRoutePieceSerialNumber: selectedTrHtml.siblings("#startRoutePieceSerialNumber").text(),
                endRoutePieceSerialNumber: selectedTrHtml.siblings("#endRoutePieceSerialNumber").text(),
                ticket: ticket
            };
            console.log(orderDTO);
            $(".myForm #orderModal").modal();

            $(".myForm #order-submit-btn").click(function(e) {
                e.preventDefault();

                ticket.surname = $('.myForm #surname').val();
                ticket.name = $('.myForm #name').val();
                ticket.passportNumber = $('.myForm #passportNumber').val();
                ticket.seatType = $(".myForm input[name='seatType']:checked").val();
                console.log(orderDTO);


                $.ajax({
                    url: "/tickets/list/order",
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(orderDTO),
                    success: function (data, textStatus, xhr) {
                        $(location).attr('href', '/tickets/forUser');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("error");
                        let errorBlock =  $('.myForm #errors');
                        let response = JSON.parse(xhr.responseText);
                        response.errors.forEach(function(error) {
                            errorBlock.append("<p>"+ error +"</p>");
                        });
                        errorBlock.css("display", "block");
                    }
                })

            });
        })

    })

</script>


<div class="container">
    <span id="dep_station_id" hidden th:text="${dep_station.id}"></span>
    <p>Станция отправления: <span th:text="${dep_station.name}"></span></p>
    <p>Станция прибытия: <span th:text="${arr_station.name}"></span></p>
    <span id="arr_station_id" hidden th:text="${arr_station.id}"></span>
    <p>Дата: <span th:text="${#dates.format(dep_date, 'dd-MM-yyyy')}"></span></p>

    <!-- <a class="ml-3" id="reloadBtn" href="/trains"><i class="fas fa-redo-alt"></i></a>-->
    <table id="route-table" class="table table-hover">
        <thead class="bg-dark text-white">
        <tr>
            <th></th>
            <th></th>
            <th>Поезд</th>
            <th>Время отправления</th>
            <th>Время прибытия</th>
            <th>Кол-во мест купе</th>
            <th>Кол-во мест плацкарт</th>
            <th>Кол-во мест общих</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="route, iStat : ${routes}">
            <td><a class="a-radio" th:href="@{/users/orderTicket}">
                Выбрать:
            </a></td>
            <td th:text="${iStat.index + 1 + '.'}"></td>
            <td hidden class="text" id="trainId" th:text="${route.trainId}"></td>
            <td hidden class="text" id="trainDateId" th:text="${route.trainDateId}"></td>
            <td class="text" id="trainName" th:text="${route.trainName}"></td>
            <td class="text" id="depTime" th:text="${#dates.format(route.depTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="text" id="arrTime" th:text="${#dates.format(route.arrTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td class="text" id="coupePlacesAmount" th:text="${route.coupePlacesAmount}"></td>
            <td class="text" id="lyingPlacesAmount" th:text="${route.lyingPlacesAmount}"></td>
            <td class="text" id="commonPlacesAmount" th:text="${route.commonPlacesAmount}"></td>
            <td hidden class="text" id="startRoutePieceId" th:text="${route.startRoutePieceId}"></td>
            <td hidden class="text" id="endRoutePieceId" th:text="${route.endRoutePieceId}"></td>
            <td hidden class="text" id="startRoutePieceSerialNumber" th:text="${route.startRoutePieceSerialNumber}"></td>
            <td hidden class="text" id="endRoutePieceSerialNumber" th:text="${route.endRoutePieceSerialNumber}"></td>
           <!-- <td>
                <a class="btn btn-info" th:href="@{/trains/list/} + ${route.trainId} + @{/stationsForUser}">Станкции
                    остановки</a>
            </td>-->
        </tr>
        </tbody>
    </table>
</div>

<div class="myForm">
    <form  id="form">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"
             id="orderModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{header.new_edit}">Составить заявку</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="x-btn" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="errors" style="display: none; color: red;">
                        </div>

                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label">Фамилия:</lable>
                            <input type="text" class="form-control" id="surname" placeholder="Фамилия"/>
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label">Имя</lable>
                            <input type="text" class="form-control" id="name" placeholder="Имя">
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label">Номер паспорта</lable>
                            <input type="text" class="form-control" id="passportNumber" placeholder="Паспорт">
                        </div>
                        <div class="form-group col-md-8">
                            <span></span>
                            <input type="radio" value="Купе" name="seatType">
                            <span>Купе</span><br/>
                            <span></span>
                            <input type="radio" value="Плацкарт" name="seatType">
                            <span>Плацкарт</span><br/>
                            <span></span>
                            <input type="radio" value="Общее" name="seatType">
                            <span>Общее</span><br/>
                        </div>

                        <div class="form-group col-md-8"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-btn" data-dismiss="modal"
                                th:text="#{button.close}">Close
                        </button>
                        <button type="submit" class="btn btn-primary" id="order-submit-btn" th:text="#{button.save}">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>