<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>
<body>
<div class="container">
    <p>Станция отправления: <span th:text="${dep_station}"></span></p>
    <p>Станция прибытия: <span th:text="${arr_station}"></span></p>
    <p>Дата: <span th:text="${#dates.format(dep_date, 'dd-MM-yyyy')}"></span></p>

    <button class="btn btn-primary nBtn">New</button>
    <a class="ml-3" id="reloadBtn" href="/trains"><i class="fas fa-redo-alt"></i></a>
    <table class="table table-hover">
        <thead class="bg-dark text-white">
        <tr>
            <th>Название</th>
            <th>Кол-во мест купе</th>
            <th>Кол-во мест плацкарт</th>
            <th>Кол-во мест общих</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="train : ${trains}">
            <td><a th:href="@{/order(trainId=${train.id},dep_station=${dep_station},arr_station=${arr_station},dep_date=${dep_date})}">Выбрать: <input type="radio"/></a></td>
            <td th:text="${train.id}"></td>
            <td th:text="${train.name}"></td>
            <td th:text="${train.countCoupe}"></td>
            <td th:text="${train.countLying}"></td>
            <td th:text="${train.countCommon}"></td>
            <td>
                <a class="btn btn-info" th:href="@{/trains/list/} + ${train.id} + @{/stations}">Станкции остановки</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>