<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <script src="/resources/js/ajax-conversation.js"></script>
</head>
<body>
<div class="container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" th:text="#{button.select_lang}">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" th:href="@{/trains(lang=ru_RU)}" th:text="#{lang.ru}">Russian</a>
            <a class="dropdown-item" th:href="@{/trains(lang=en_US)}" th:text="#{lang.en_US}">ENGLISH</a>
        </div>
    </div>
    <button class="btn btn-primary nBtn" th:text="#{button.new}">Create</button>
    <a class="ml-3" id="reloadBtn" href="/trains"><i class="fas fa-redo-alt"></i></a>
    <table class="table table-hover">
        <thead class="bg-dark text-white">
        <tr>
            <th th:text="#{label.name}">Name</th>
            <th th:text="#{label.amount_coupe_places}">Amount coupe</th>
            <th th:text="#{label.amount_lying_places}">Amount lying places</th>
            <th th:text="#{label.amount_common_places}">Amount common places</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="train : ${trains}">
            <!--<td th:text="${train.id}"></td>-->
            <td th:text="${train.name}"></td>
            <td th:text="${train.countCoupe}"></td>
            <td th:text="${train.countLying}"></td>
            <td th:text="${train.countCommon}"></td>
            <td>
                <a class="btn btn-primary text-white eBtn" id="eBtn"
                   th:href="${'trains/list/' + train.id}" th:text="#{button.edit}">Edit</a>
                <a class="btn btn-danger text-white rBtn" th:href="${'trains/list/'+train.id}" th:text="#{button.remove}">Remove</a>
                <a class="btn btn-info" th:href="@{trains/list/} + ${train.id} + @{/stations}" th:text="#{button.train_stop_stations}">Train stop stations</a>
                <a class="btn btn-info" th:href="@{trains/list/} + ${train.id} + @{/dates}" th:text="#{button.dates}">Dates</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Edit n New-->
<div class="myForm">
    <form th:action="${'trains/list/'}" th:object="${train}" id="form">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
             id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{header.new_edit}">Save and Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="x-btn" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="errors" style="display: none; color: red;">
                        </div>
                        <input type="text" hidden id="id">
                        <div class="form-group col-md-6">
                            <lable for="name" class="col-form-label" th:text="#{label.name}">Name</lable>
                            <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Название">
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label" th:text="#{label.amount_coupe_places}">amount coupe places</lable>
                            <input type="text" th:field="*{countCoupe}" class="form-control" id="countCoupe"
                                   placeholder="Купе">
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label" th:text="#{label.amount_lying_places}">Amount of lying places</lable>
                            <input type="text" th:field="*{countLying}" class="form-control" id="countLying"
                                   placeholder="Плацкарт">
                        </div>
                        <div class="form-group col-md-8">
                            <lable for="name" class="col-form-label" th:text="#{label.amount_common_places}">Amount of common places</lable>
                            <input type="text" th:field="*{countCommon}" class="form-control" id="countCommon"
                                   placeholder="Общее">
                        </div>

                        <div class="form-group col-md-8"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-btn" data-dismiss="modal" th:text="#{button.close}">Close</button>
                        <button type="submit" class="btn btn-primary" id="edit-submit" th:text="#{button.save}">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Edit n Remove-->
<div class="myRemove">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="#{header.remove}">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert-danger text-dark p-2" th:text="#{text.sure}">Are you sure?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.close}">Close</button>
                    <a class="btn btn-danger dBtn" href="" id="delete-submit" th:text="#{button.remove}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>