<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <button class="btn btn-primary nBtn">New</button>
    <table class="table table-hover">
        <thead class="bg-dark text-white">
        <tr>
            <td>serial number</td>
            <td>Station</td>
            <td>time arrive</td>
            <td>time departure</td>
            <td>coupe</td>
            <td>lying</td>
            <td>common</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="station : ${trainStations}">
            <td th:text="${station.stationSerialNumber}"></td>
            <td th:text="${station.station}"></td>
            <td th:text="${#dates.format(station.arriveTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${#dates.format(station.departureTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${station.coupe_places_amount}"></td>
            <td th:text="${station.lying_places_amount}"></td>
            <td th:text="${station.common_places_amount}"></td>
            <td>
                <a class="btn btn-primary text-white eBtn"
                   th:href="@{http://localhost:8080/trainStations/findOne/(id=${station.id})}">Edit</a>
                <a class="btn btn-danger text-white rBtn" th:href="${'trainStations/delete?id='+station.id}">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--<ul class="nav nav-pills">
        <li class="nav-item" th:each="i : ${#numbers.sequence(0, trainStations.totalPages-1)}">
        <li class="nav-item" th:each="i : ${#numbers.sequence(0, 4)}">
            <a th:href="${'?page='+i}" th:text="${i}" class="nav-link"
               th:classappend="${buatPage}==${i}?'active':''"></a>
        </li>
    </ul>-->
</div>

<!-- Modal Edit n New-->
<div class="myForm">
    <form th:action="@{/save}" method="post" th:object="${station}">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
             id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Save or Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id" class="label">id</label>
                            <input type="text" class="form-control" id="id" name="id" value="" th:field="*{id}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="stationSerialNumber" class=" label">stationSerialNumber</label>
                            <input type="text" class="form-control" id="stationSerialNumber" name="stationSerialNumber" value="" th:field="*{stationSerialNumber}">
                        </div>
                        <div class="form-group">
                            <label for="station" class=" label">station</label>
                            <input type="text" class="form-control" id="station" name="station" value=""
                                   th:field="*{station}">
                        </div>
                        <div class="form-group">
                            <label for="arriveTime" class=" label">arriveTime</label>
                            <input type="text" class="form-control" id="arriveTime" name="arriveTime" value=""
                                   th:field="*{arriveTime}">
                        </div>
                        <div class="form-group">
                            <label for="departureTime" class=" label">departureTime</label>
                            <input type="text" class="form-control" id="departureTime" name="departureTime" value=""
                                   th:field="*{departureTime}">
                        </div>
                        <div class="form-group">
                            <label for="coupe_places_amount" class=" label">coupe_places_amount</label>
                            <input type="text" class="form-control" id="coupe_places_amount" name="coupe_places_amount" value=""
                                   th:field="*{coupe_places_amount}">
                        </div>
                        <div class="form-group">
                            <label for="lying_places_amount" class=" label">lying_places_amount</label>
                            <input type="text" class="form-control" id="lying_places_amount" name="lying_places_amount" value=""
                                   th:field="*{lying_places_amount}">
                        </div>
                        <div class="form-group">
                            <label for="common_places_amount" class=" label">common_places_amount</label>
                            <input type="text" class="form-control" id="common_places_amount" name="common_places_amount" value=""
                                   th:field="*{common_places_amount}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Edit n Remove-->
<div class="myRemove">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save or Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert-danger text-dark p-2">Are you sure?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger dBtn" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/resources/js/script.js"></script>
</body>
</html>