<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="/resources/js/stations.js"></script>
    <script src="/resources/js/trainDates-ajax-conv.js"></script>
</head>
<body>


<!-- Modal Edit n New-->
<div class="container">

    <form th:action="@{list/stations-sequence}" th:object="${trainStations}" id="form" method="post">
        <a class="reload" th:href="@{form}" hidden></a>
        <div id="errors" style="display: none; color: red;">
        </div>

        <table>
            <tr>
                <th></th>
                <th>Станция</th>
                <th>Отправление</th>
                <th>Прибытие</th>
            </tr>
            <tr class="object" th:each="trainStation, iStat : ${trainStations}">
                <td th:text="${iStat.index} + 1 + '.'"></td>
                <td hidden class="trainStationId" th:text="${trainStation.id}"></td>
                <td class="station-name" th:text="${trainStation.station.name}"></td>
                <td class="td-arriveTime"><input type="text" class="arriveTime" id="arriveTime" required></td>
                <td class="td-departureTime"><input type="text" class="departureTime" id="departureTime" required></td>
            </tr>
        </table>
        <div class="form-group col-md-8">
            <input type="submit" class="btn btn-primary" id="submit-btn"/>
        </div>
    </form>

</div>


</body>
</html>