<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
</head>

<body>
<div class="container">

    <button class="btn btn-primary nBtn">New</button>
    <a class="ml-3" id="reloadBtn" href="stations"><i class="fas fa-redo-alt"></i></a>
    <table class="table table-hover">
        <thead class="bg-dark text-white">
        <tr>
            <th>Станция</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="station : ${stations}">
            <td th:text="${station.station.name}"></td>
            <td>
                <a class="btn btn-primary text-white eBtn" id="eBtn"
                   th:href="${'stations/list/' + station.id}">Edit</a>
                <a class="btn btn-danger text-white rBtn" th:href="${'stations/list/'+station.id}">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Edit n New-->
<div class="myForm">
    <form th:action="@{stations/list}"  id="form">
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
             id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Save or Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span id="x-btn" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="errors" style="display: none; color: red;">
                        </div>
                        <input type="text" hidden id="id">
                        <input type="text" hidden id="idTrain">
                        <div class="form-group col-md-6">
                            <lable for="stationSerialNumber" class="col-form-label">Номер станции</lable>
                            <input type="text"  class="form-control" id="stationSerialNumber" placeholder="Номер" disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="station" class=" label">station</label>
                            <select id="station" class="form-control">
                                <option th:each="stat : ${allStations}" th:text="${stat.name}" th:value="${stat.id}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-btn"  data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="edit-submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Edit n Remove-->
<div class="myRemove">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save or Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert-danger text-dark p-2">Are you sure?</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger dBtn" href="" id="delete-submit">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/resources/js/trainStations-ajax-conv.js"></script>

</body>
</html>