<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script th:src="@{/resources/js/locale.js}"></script>
    <script th:src="@{/resources/js/customDataTable.js}"></script>
</head>
<body class="bg-light">

<div th:replace="fragments/header :: header">
</div>
<div class="container-fluid bg-white mt-5 py-2">
    <div class="row">
        <div class="main" style="padding-left: 140px;">
            <!-- <a class="ml-3" id="reloadBtn" href="/trains"><i class="fas fa-redo-alt"></i></a>-->
            <table class="table table-striped customDataTable">
                <thead>
                <tr>
                    <th rowspan="2" th:text="#{label.train}">Поезд</th>
                    <th rowspan="2" th:text="#{trainRoute.depStation}">Станция отправления</th>
                    <th rowspan="2" th:text="#{stationStopTime.depTime}">Время отправления</th>
                    <th rowspan="2" th:text="#{trainRoute.arrStation}">Станция прибытия</th>
                    <th rowspan="2" th:text="#{stationStopTime.arrTime}">Время прибытия</th>
                    <th colspan="2" th:text="#{label.carriage}">Вагон</th>
                    <th colspan="2" th:text="#{label.place}">Место</th>
                    <th colspan="3" th:text="#{label.userData}">Данные пассажира</th>
                </tr>
                <tr>
                    <th th:text="#{label.number}">Номер</th>
                    <th th:text="#{label.type}">Тип</th>
                    <th th:text="#{label.number}">Номер</th>
                    <th th:text="#{label.type}">Тип</th>
                    <th th:text="#{label.user.surname}">Фамилия пассажира</th>
                    <th th:text="#{user.name}">Имя</th>
                    <th th:text="#{user.passportNumber}">Паспорт</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.train.name}"></td>
                    <td th:text="${ticket.depStation.name}"></td>
                    <td th:text="${#dates.format(ticket.depTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${ticket.arrStation.name}"></td>
                    <td th:text="${#dates.format(ticket.arrTime, 'yyyy-MM-dd HH:mm')}"></td>
                    <!--<td th:text="${#dates.format(ticket.date, 'dd-MM-yyyy')}"></td>-->
                    <td th:text="${ticket.carriage.number}"></td>
                    <td th:text="${ticket.carriage.type}"></td>
                    <td th:text="${ticket.place.number}"></td>
                    <td th:text="${ticket.place.type}"></td>
                    <td th:text="${ticket.surname}"></td>
                    <td th:text="${ticket.name}"></td>
                    <td th:text="${ticket.passportNumber}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>