<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/styles.css"/>
</head>
<body>

<!-- Modal Edit n New-->
<div class="container">
    <form th:action="@{'orderTicket'}" th:object="${ticket}" id="form" method="post">

        <!--<p>Станция отправления: <span th:text="*{depStation}"></span></p>
        <p>Станция прибытия: <span th:text="*{arrStation}"></span></p>-->
        <p>Маршрут: <span th:text="${session.route.depStation} + ' - ' + ${session.route.arrStation}"></span></p>
        <p>Время отправления: <span th:text="${#dates.format(session.route.depTime, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p>Время прибытия: <span th:text="${#dates.format(session.route.arrTime, 'yyyy-MM-dd HH:mm')}"></span></p>
        <p>Номер поезда: <span th:text="${session.route.trainName}"></span></p>

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Please correct the problems below and resubmit.
            </span>
        </div>
        <div class="form-group col-md-4">
            <lable for="name" class="col-form-label">Фамилия:</lable>
            <span class="validationError"
                  th:if="${#fields.hasErrors('surname')}"
                  th:errors="*{surname}">Surname error</span>
            <input type="text" th:field="${ticket.surname}" class="form-control" id="name" placeholder="Название"/>
        </div>
        <div class="form-group col-md-4">
            <lable for="name" class="col-form-label">Имя</lable>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name error</span>
            <input type="text" th:field="${ticket.name}" class="form-control" id="countCoupe" placeholder="Купе">
        </div>
        <div class="form-group col-md-4">
            <lable for="name" class="col-form-label">Номер паспорта</lable>
            <span class="validationError"
                  th:if="${#fields.hasErrors('passportNumber')}"
                  th:errors="*{passportNumber}">Name error</span>
            <input type="text" th:field="${ticket.passportNumber}" class="form-control" id="countLying" placeholder="Плацкарт">
        </div>
        <div class="form-group col-md-4">
            <span class="validationError"
                  th:if="${#fields.hasErrors('seatType')}"
                  th:errors="*{seatType}">SeatType error</span></br>
            <span th:text="${session.route.coupe_places_amount}"></span>
            <input type="radio" th:field="${ticket.seatType}" value="Купе" name="seatType">
            <span>Купе</span><br/>
            <span th:text="${session.route.lying_places_amount}"></span>
            <input type="radio" th:field="${ticket.seatType}" value="Плацкарт" name="seatType">
            <span>Плацкарт</span><br/>
            <span th:text="${session.route.common_places_amount}"></span>
            <input type="radio" th:field="${ticket.seatType}" value="Общее" name="seatType">
            <span>Общее</span><br/>
        </div>

        <div class="form-group col-md-8">
            <input type="submit" class="btn btn-primary"/>
        </div>

    </form>
</div>

</body>
</html>