<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="/resources/css/sign_in_up.css"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/js/locale.js}"></script>
</head>
<body class="bg-light">

<div class="container bg-white mt-5 py-2">
    <div class="row">

        <div class="col-md-offset-3 col-md-6">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab"
                                                              data-toggle="tab" th:text="#{label.sign-in}">Войти</a></li>
                    <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab" th:text="#{label.sign-up}">Регистрация</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                        <div id="error" style="display: none; color: red" th:text="#{warn.sign-in.error}">
                            <h5>Не удалось войти!</h5>
                        </div>
                        <form class="form-horizontal" id="sign-in-form" th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="login" th:text="#{user.login}">Логин</label>
                                <input type="text" required class="form-control" id="login" name="login" >
                            </div>
                            <div class="form-group">
                                <label for="pass" th:text="#{user.pass}">Пароль</label>
                                <input type="password" required class="form-control" id="pass" name="pass">
                            </div>
                            <div class="form-group">
                                <div class="main-checkbox">
                                    <input id="checkbox1" name="remember-me" type="checkbox">
                                    <label for="checkbox1" th:text="#{label.remember-me}">Запомнить меня</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" id="sign-in" th:text="#{button.send}">Отправить</button>
                            </div>
                            <!-- <div class="form-group forgot-pass">
                                 <button type="submit" class="btn btn-default">forgot password</button>
                             </div>-->
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="Section2">
                        <div id="error" style="display: none; color: red">
                            <h5 th:text="#{warn.sign-up.error}">Не удалось зарегистрироваться!</h5>
                        </div>
                        <form class="form-horizontal" id="sign-up-form" th:action="@{/register}" method="post">
                            <div class="form-group">
                                <label for="name" th:text="#{name}">Имя</label>
                                <input type="text" required class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="surname" th:text="#{user.surname}">Фамилия</label>
                                <input type="text" required class="form-control" id="surname" name="surname">
                            </div>
                            <div class="form-group">
                                <label for="email" th:text="#{user.email}">Email</label>
                                <input type="email" required class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="login" th:text="#{user.login}">Логин</label>
                                <input type="text" required class="form-control" id="login" name="login">
                            </div>
                            <div class="form-group">
                                <label for="pass" th:text="#{user.pass}">Пароль</label>
                                <input type="password" required class="form-control" id="pass" name="pass">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default" id="sign-up" th:text="#{button.send}">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</body>
</html>