<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>

<header th:fragment="header">
    <span hidden id="locale" th:text="${#locale}"></span>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" sec:authorize="!isAuthenticated()">
        <a class="navbar-brand" th:text="#{navbar.brand}" href="/">БелЖД</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:text="#{navbar.home}" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" th:text="#{navbar.lang}">lang</button>
                        <div class="dropdown-menu" id="lang-dropdown" aria-labelledby="adminDropdownMenuButton">
                            <a class="dropdown-item" name="ru_RU" th:href="${#request.requestURI + ' ' + #request.queryString}"
                               th:text="#{lang.ru}">Russian</a>
                            <a class="dropdown-item" name="en_US" th:href="${#request.requestURI + ' ' + #request.queryString}"
                               th:text="#{lang.en_US}">English</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:text="#{navbar.sign-in}">sign-in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:text="#{navbar.sign-up}">sign-up</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-white"  sec:authorize="hasRole('USER') and !hasRole('ADMIN')">
        <a class="navbar-brand" href="/" th:text="#{navbar.brand}">Railway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNavbarSupportedContent"
                aria-controls="userNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="userNavbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:text="#{navbar.home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tickets/forUser" >Билеты</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" th:text="#{navbar.lang}">
                            lang
                        </button>
                        <div class="dropdown-menu" id="lang-dropdown" aria-labelledby="adminDropdownMenuButton">
                            <a class="dropdown-item" name="ru_RU" th:href="${#request.requestURI + ' ' + #request.queryString}"
                               th:text="#{lang.ru}">Russian</a>
                            <a class="dropdown-item" name="en_US" th:href="${#request.requestURI + ' ' + #request.queryString}"
                               th:text="#{lang.en_US}">English</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:text="#{navbar.logout}">logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-white" sec:authorize="hasRole('ADMIN')">
        <a class="navbar-brand" href="#" th:text="#{navbar.brand}">Railway</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminNavbarSupportedContent"
                aria-controls="adminNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="adminNavbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:text="#{navbar.home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/trains" th:text="#{navbar.trains}">Поезда</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/stations" th:text="#{navbar.stations}">Станции</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users" th:text="#{navbar.users}">Пользователи</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="adminDropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" th:text="#{navbar.lang}">
                            lang
                        </button>
                        <div class="dropdown-menu" id="lang-dropdown" aria-labelledby="adminDropdownMenuButton">
                            <a class="dropdown-item" name="ru_RU" th:href="${#request.requestURI + ' ' + #request.queryString}"
                               th:text="#{lang.ru}">Russian</a>
                            <a class="dropdown-item" name="en_US" th:href="${#request.requestURI + ' ' + #request.queryString}"
                               th:text="#{lang.en_US}">English</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:text="#{navbar.logout}">logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

</body>
</html>